.body-transition{
    transition: ease .5s;
}

button{
    position: fixed;
    bottom: 30px; right: 3%;
    width: 48px;
    height: 48px;
    font-size: 24px;
    border-radius: 50%;
    border-style: none;
    transition: ease .5s;
    -webkit-appearance: none;
    padding: 0;
}

.dark-mode{
    background: #222;
    color: white;
}

.dark-mode>h1::after{
    background: white;
}

.dark-mode .Introduction a{
    color: white;
    border: solid 1px #ddd;
    padding: 5px;
}

.dark-mode .Introduction a:hover{
    background: white;
    color: black;
}

.dark-mode .Container>div li{
    border: solid 1px white;
}


.dark-mode .Container>div li a{
    color: white;
}

.dark-mode .Container>div li:hover{
    background: white;
}

.Container>div li:hover a{
    color: #222;
}

.dark-mode .Container>div h2::after{
    background: white;
}

.dark-mode button{
    background: white;
    color: black;
}

.light-mode{
    background: white;
}

.light-mode button{
    background: black;
    color: white;
}

@media screen and (max-width: 720px){
    button{
        top: 20px; left: 3%;
    }
}