.light {
    --theme-background: rgb(241, 143, 31);
    --theme-font: rgb(0, 122, 204);
    --complement: rgb(204, 82, 0);
    --complement-light: rgb(236, 196, 169);
    --border-gray: rgb(224, 224, 224);
}

.dark {
    --theme-background: rgb(230, 122, 0);
    --theme-font: rgb(194, 232, 255);
    --complement: rgb(235, 174, 134);
    --complement-light: rgb(247, 228, 215);
    --border-gray: rgb(119, 110, 110);
}
