
/* Globals */

:root {
    --sidebar-width: 300px;
    --page-padding: 15px;
    --content-max-width: 900px;
    --menu-bar-height: 50px;
    --header-indent: 2rem;
}

/* Themes */
.light {
    --bg: white;
    --fg: black;

    --scrollbar: #cccccc;

    --icons: #cccccc;
    --icons-hover: #333333;

    --theme-popup-bg: #fafafa;
    --theme-popup-border: #cccccc;
    --theme-hover: #e6e6e6;

    --quote-bg: hsl(197, 37%, 96%);
    --quote-border: hsl(197, 37%, 91%);
}

.dark {
    --bg: black;
    --fg: white;

    --scrollbar: var(--sidebar-fg);

    --icons: #737480;
    --icons-hover: #b7b9cc;

    --theme-popup-bg: #161923;
    --theme-popup-border: #737480;
    --theme-hover: #282e40;

    --quote-bg: hsl(226, 15%, 17%);
    --quote-border: hsl(226, 15%, 22%);
}
