/*
以下、
https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.6/styles/github.min.css
https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.6/styles/monokai-sublime.min.css
にbody.darkとbody:not(.dark)を付けて、色合い等を少し調整したもの
*/

body:not(.dark) .hljs {
    display: block;
    overflow-x: auto;
    padding: .5em;
    color: #333;
    background: #f8f8f8
}

body.dark .hljs {
    display: block;
    overflow-x: auto;
    padding: .5em;
    background: #272822;
    color: #ddd
}

body:not(.dark) .hljs-comment,
body:not(.dark) .hljs-quote {
    color: #998;
}

body:not(.dark) .hljs-keyword,
body:not(.dark) .hljs-selector-tag,
body:not(.dark) .hljs-subst {
    color: rgb(16, 99, 207);
}

body:not(.dark) .hljs-number,
body:not(.dark) .hljs-literal,
body:not(.dark) .hljs-variable,
body:not(.dark) .hljs-template-variable,
body:not(.dark) .hljs-tag .hljs-attr {
    color: #28cfcf
}

body:not(.dark) .hljs-string,
body:not(.dark) .hljs-doctag {
    color: #d14
}

body:not(.dark) .hljs-title,
body:not(.dark) .hljs-section,
body:not(.dark) .hljs-selector-id {
    color: #900;
}

body:not(.dark) .hljs-subst {
    font-weight: normal
}

body:not(.dark) .hljs-type,
body:not(.dark) .hljs-class .hljs-title {
    color: #458;
}

body:not(.dark) .hljs-tag,
body:not(.dark) .hljs-name,
body:not(.dark) .hljs-attribute {
    color: #000080;
    font-weight: normal
}

body:not(.dark) .hljs-regexp,
body:not(.dark) .hljs-link {
    color: #009926
}

body:not(.dark) .hljs-symbol,
body:not(.dark) .hljs-bullet {
    color: #990073
}

body:not(.dark) .hljs-built_in,
body:not(.dark) .hljs-builtin-name {
    color: #0086b3
}

body:not(.dark) .hljs-meta {
    color: #999;
}

body:not(.dark) .hljs-deletion {
    background: #fdd
}

body:not(.dark) .hljs-addition {
    background: #dfd
}

body:not(.dark) .hljs-emphasis {
    font-style: italic
}

body:not(.dark) .hljs-strong {
    font-weight: bold
}

body.dark .hljs {
    display: block;
    overflow-x: auto;
    padding: .5em;
    background: #23241f
}

body.dark .hljs,
body.dark .hljs-tag,
body.dark .hljs-subst {
    color: #f8f8f2
}

body.dark .hljs-strong,
body.dark .hljs-emphasis {
    color: #a8a8a2
}

body.dark .hljs-bullet,
body.dark .hljs-quote,
body.dark .hljs-number,
body.dark .hljs-regexp,
body.dark .hljs-literal,
body.dark .hljs-link {
    color: #ae81ff
}

body.dark .hljs-code,
body.dark .hljs-title,
body.dark .hljs-section,
body.dark .hljs-selector-class {
    color: #a6e22e
}

body.dark .hljs-strong {
    font-weight: bold
}

body.dark .hljs-emphasis {
    font-style: italic
}

body.dark .hljs-keyword,
body.dark .hljs-selector-tag,
body.dark .hljs-name,
body.dark .hljs-attr {
    color: #f92672
}

body.dark .hljs-symbol,
body.dark .hljs-attribute {
    color: #66d9ef
}

body.dark .hljs-params,
body.dark .hljs-class .hljs-title {
    color: #f8f8f2
}

body.dark .hljs-string,
body.dark .hljs-type,
body.dark .hljs-built_in,
body.dark .hljs-builtin-name,
body.dark .hljs-selector-id,
body.dark .hljs-selector-attr,
body.dark .hljs-selector-pseudo,
body.dark .hljs-addition,
body.dark .hljs-variable,
body.dark .hljs-template-variable {
    color: #e6db74
}

body.dark .hljs-comment {
    color: #e7ffb9
}

body.dark .hljs-deletion,
body.dark .hljs-meta {
    color: #e4e4e4
}