body {
    padding: 40px;
}

.markdown-body {
    font-size: 18px;
    font-family: 'Noto Sans JP', sans-serif;
}

.markdown-body code, .markdown-body pre {
    font-family: 'Source Code Pro', monospace;
}

.questionnaire {
    text-align: right;
}

.questionnaire__outline {
    display: inline-flex;
    box-shadow: inset #888888 1px 1px 8px;
    border-radius: 6px;
    padding: 20px;
    flex-direction: column;
}

.questionnaire__outline h1 {
    display: inline-block;
    font-size: 1em;
    margin: 0 0 15px 0;
}

.questionnaire button {
    color: #001f29;
    background: #e5f8ff;
    border: 0;
    border-radius: 6px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.3s;
    cursor: pointer;
    text-decoration: none;
    margin-bottom: 4px;
    outline: 0;
}

.questionnaire button:hover {
    background-color: #008cba;
    color: white;
}

.questionnaire button:active {
    background-color: #a3d6ff;
    color: rgba(0, 74, 160, 0.438);
}

.questionnaire button:disabled {
    background-color: #aaaaaa;
    color: rgba(0, 0, 0, 0.767);
    cursor: default;
}

.questionnaire textarea {
    width: 100%;
    resize: vertical;
    font-size: 1em;
    font-family: 'Noto Sans JP', sans-serif;
    padding: 8px;
    border: 2px solid #ccc;
    border-radius: 4px;
}

.connection-status-box {
    display: none;
    left: 30%;
    top: 30%;
    width: 40%;
    height: 40%;
    background: #f0fbffc4;
    border-radius: 20px;
    padding: 50px;
    position: fixed;
    box-sizing: border-box;
    font-size: 24px;
    font-family: 'Noto Sans JP', sans-serif;
    box-shadow: #aaa 0px 0px 10px;
    transition-duration: 0.4s;
    word-break: break-all;
    overflow: hidden;
}

.connection-status-box--show {
    display: block;
}

.connection-status-box h1 {
    font-size: 1em;
}
